h3 Confirm your email address
p Hello #{name},
p We just need to verify that #[strong #{email}] is your email address.
p Follow the link below:
a(href= link style={color: 'Green', fontWeight: 500}) Confirm Email Address
br
br
br
br
p Didn’t request this email?
p No worries! Your address may have been entered by mistake. If you ignore or delete this email, nothing further will happen.

